# ==== Visual Studio y SSIS ====
.vs/
*.user
*.suo
*.dbmdl
*.cache
*.bak
*.dtsx.ide

# ==== Carpetas temporales ====
bin/
obj/
Debug/
Release/

# ==== Logs y temporales ====
*.log
*.tmp
*.vsidx

# ==== Archivos del sistema ====
Thumbs.db
Desktop.ini
