USE [master]
GO
/****** Object:  Database [gestordocumento]    Script Date: 04-11-2025 22:06:32 ******/
CREATE DATABASE [gestordocumento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gestordocumento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\gestordocumento.mdf' , SIZE = 67648KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gestordocumento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\gestordocumento_log.ldf' , SIZE = 152384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestordocumento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestordocumento]
GO
/****** Object:  User [rhernandez]    Script Date: 04-11-2025 22:06:32 ******/
CREATE USER [rhernandez] FOR LOGIN [rhernandez] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  StoredProcedure [dbo].[sp_CargarAsignacionStock]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CargarAsignacionStock]
    @PeriodoProceso VARCHAR(6),
    @ArchivoOrigen VARCHAR(255),
    @UsuarioCarga VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RegistrosMovidosHistoricos INT = 0;
    DECLARE @RegistrosNuevos INT = 0;
    DECLARE @ExistenRegistrosActivos INT = 0;
    DECLARE @MotivoMovimiento VARCHAR(50);
    DECLARE @ErrorMsg VARCHAR(1000);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. VERIFICAR SI EXISTEN REGISTROS ACTIVOS PARA ESTE PERIODO
        SELECT @ExistenRegistrosActivos = COUNT(*) 
        FROM Asignacion_Stock 
        WHERE activo = 1 AND periodo_proceso = @PeriodoProceso;
        
        -- 2. DEFINIR MOTIVO DEL MOVIMIENTO
        IF @ExistenRegistrosActivos > 0
            SET @MotivoMovimiento = 'REEMPLAZO_CARGA_MES'  -- Segunda carga del mes
        ELSE
            SET @MotivoMovimiento = 'REEMPLAZO_CARGA_INICIAL'  -- Primera carga del mes
        
        -- 3. CONTAR REGISTROS ACTUALES ANTES DE MOVER (de cualquier periodo)
        SELECT @RegistrosMovidosHistoricos = COUNT(*) 
        FROM Asignacion_Stock 
        WHERE activo = 1;
        
        -- 4. Mover datos actuales a histórico SOLO si existen registros activos
        IF @RegistrosMovidosHistoricos > 0
        BEGIN
            INSERT INTO Asignacion_Stock_Historico (
                periodo_proceso, fecha_proceso, periodo_castigo, rut, dv, contrato, nombre, paterno, materno,
                fecha_castigo, saldo_generado, clasificacion_bienes, canal, clasificacion, direccion, numeracion_dir,
                resto, region, comuna, ciudad, abogado, zona, correo1, correo2, correo3, correo4, correo5,
                telefono1, telefono2, telefono3, telefono4, telefono5, fecha_pago, monto_pago, fecha_vencimiento,
                dias_mora, fecha_susc, tipo_campana, descuento, monto_a_pagar, saldo_en_campana, fecha_asignacion,
                tipo_cartera, fecha_carga_original, archivo_origen, usuario_carga, motivo_movimiento
            )
            SELECT 
                periodo_proceso, fecha_proceso, periodo_castigo, rut, dv, contrato, nombre, paterno, materno,
                fecha_castigo, saldo_generado, clasificacion_bienes, canal, clasificacion, direccion, numeracion_dir,
                resto, region, comuna, ciudad, abogado, zona, correo1, correo2, correo3, correo4, correo5,
                telefono1, telefono2, telefono3, telefono4, telefono5, fecha_pago, monto_pago, fecha_vencimiento,
                dias_mora, fecha_susc, tipo_campana, descuento, monto_a_pagar, saldo_en_campana, fecha_asignacion,
                tipo_cartera, fecha_carga, archivo_origen, usuario_carga, @MotivoMovimiento
            FROM Asignacion_Stock
            WHERE activo = 1;
            
            -- 5. Desactivar registros actuales
            UPDATE Asignacion_Stock SET activo = 0;
        END
        
        -- 6. Insertar nuevos registros desde la tabla temporal
        INSERT INTO Asignacion_Stock (
            periodo_proceso, fecha_proceso, periodo_castigo, rut, dv, contrato, nombre, paterno, materno,
            fecha_castigo, saldo_generado, clasificacion_bienes, canal, clasificacion, direccion, numeracion_dir,
            resto, region, comuna, ciudad, abogado, zona, correo1, correo2, correo3, correo4, correo5,
            telefono1, telefono2, telefono3, telefono4, telefono5, fecha_pago, monto_pago, fecha_vencimiento,
            dias_mora, fecha_susc, tipo_campana, descuento, monto_a_pagar, saldo_en_campana, fecha_asignacion,
            tipo_cartera, fecha_carga, archivo_origen, usuario_carga, activo
        )
        SELECT 
            periodo_proceso, fecha_proceso, periodo_castigo, rut, dv, contrato, nombre, paterno, materno,
            fecha_castigo, saldo_generado, clasificacion_bienes, canal, clasificacion, direccion, numeracion_dir,
            resto, region, comuna, ciudad, abogado, zona, correo1, correo2, correo3, correo4, correo5,
            telefono1, telefono2, telefono3, telefono4, telefono5, fecha_pago, monto_pago, fecha_vencimiento,
            dias_mora, fecha_susc, tipo_campana, descuento, monto_a_pagar, saldo_en_campana, fecha_asignacion,
            tipo_cartera, GETDATE(), @ArchivoOrigen, @UsuarioCarga, 1
        FROM Carga_Temporal_AsignacionStock;
        
        -- 7. Contar registros nuevos insertados
        SELECT @RegistrosNuevos = COUNT(*) 
        FROM Asignacion_Stock 
        WHERE activo = 1 AND periodo_proceso = @PeriodoProceso;
        
        -- 8. Limpiar tabla temporal
        TRUNCATE TABLE Carga_Temporal_AsignacionStock;
        
        COMMIT TRANSACTION;
        
        -- 9. RETORNAR RESULTADOS
        SELECT 
            'EXITO' as resultado,
            'Carga completada. ' + CAST(@RegistrosNuevos AS VARCHAR) + ' registros insertados. ' + 
            CASE WHEN @RegistrosMovidosHistoricos > 0 
                 THEN CAST(@RegistrosMovidosHistoricos AS VARCHAR) + ' registros movidos a histórico (' + @MotivoMovimiento + ').' 
                 ELSE 'Primera carga del período.' 
            END as mensaje,
            @RegistrosMovidosHistoricos as registros_movidos_historicos,
            @RegistrosNuevos as registros_nuevos,
            @MotivoMovimiento as motivo_movimiento;
            
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @ErrorMsg = 'Error en SP CargarAsignacionStock: ' + ERROR_MESSAGE();
        
        -- Registrar error en logs
        INSERT INTO Logs_Errores_Carga (log_carga_id, contrato, rut, mensaje_error, datos_fila)
        VALUES (1, 'SP_ERROR', 'SP_ERROR', @ErrorMsg, 'Stored Procedure Error');
        
        SELECT 
            'ERROR' as resultado,
            @ErrorMsg as mensaje,
            0 as registros_movidos_historicos,
            0 as registros_nuevos,
            'ERROR' as motivo_movimiento;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CargarJudicial]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para cargar datos judiciales
CREATE PROCEDURE [dbo].[sp_CargarJudicial]
    @TipoHoja VARCHAR(10), -- 'BASE' o 'EXCLUIDOS'
    @Periodo DATE,
    @ArchivoOrigen VARCHAR(255),
    @UsuarioCarga VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF @TipoHoja = 'BASE'
        BEGIN
            -- Mover a histórico
            INSERT INTO Judicial_Base_Historico (
                periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
                sucursal, region, comuna, zona, tribunal, rol, año, ciudad_tribunal, homologacion,
                motivo_de_estado, etapa_procesal, sub_etapa_procesal, fecha_sub_etapa_procesal,
                ultima_gestion, observaciones, abogado_externo, vigente_castigo, stock_flujo, aux,
                canal, nombre_cobrador, tramo_saldo, tramo_antiguedad_castigo, recovery, pago_vigente,
                tramo_probabilidad_de_pago, probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
                fecha_carga_original, archivo_origen, usuario_carga, motivo_movimiento
            )
            SELECT 
                periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
                sucursal, region, comuna, zona, tribunal, rol, año, ciudad_tribunal, homologacion,
                motivo_de_estado, etapa_procesal, sub_etapa_procesal, fecha_sub_etapa_procesal,
                ultima_gestion, observaciones, abogado_externo, vigente_castigo, stock_flujo, aux,
                canal, nombre_cobrador, tramo_saldo, tramo_antiguedad_castigo, recovery, pago_vigente,
                tramo_probabilidad_de_pago, probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
                fecha_carga, archivo_origen, usuario_carga, 'CARGA_NUEVA'
            FROM Judicial_Base
            WHERE activo = 1;
            
            -- Desactivar actuales y activar nuevos
            UPDATE Judicial_Base SET activo = 0;
            UPDATE Judicial_Base 
            SET activo = 1, 
                fecha_carga = GETDATE(),
                archivo_origen = @ArchivoOrigen,
                usuario_carga = @UsuarioCarga
            WHERE periodo = @Periodo;
        END
        ELSE IF @TipoHoja = 'EXCLUIDOS'
        BEGIN
            -- Mover a histórico
            INSERT INTO Judicial_Excluidos_Historico (
                periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
                sucursal, region, comuna, zona, tribunal, rol, anio, ciudad_tribunal, homologacion,
                motivo_de_estado, etapa_procesal, sub_etapa_procesal, fecha_sub_etapa_procesal,
                ultima_gestion, observaciones, abogado_externo, vigente_castigo, stock_flujo, aux,
                canal, nombre_cobrador, tramo_saldo, tramo_antiguedad_castigo, recovery, pago_vigente,
                tramo_probabilidad_de_pago, probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
                fecha_carga_original, archivo_origen, usuario_carga, motivo_movimiento
            )
            SELECT 
                periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
                sucursal, region, comuna, zona, tribunal, rol, anio, ciudad_tribunal, homologacion,
                motivo_de_estado, etapa_procesal, sub_etapa_procesal, fecha_sub_etapa_procesal,
                ultima_gestion, observaciones, abogado_externo, vigente_castigo, stock_flujo, aux,
                canal, nombre_cobrador, tramo_saldo, tramo_antiguedad_castigo, recovery, pago_vigente,
                tramo_probabilidad_de_pago, probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
                fecha_carga, archivo_origen, usuario_carga, 'CARGA_NUEVA'
            FROM Judicial_Excluidos
            WHERE activo = 1;
            
            -- Desactivar actuales y activar nuevos
            UPDATE Judicial_Excluidos SET activo = 0;
            UPDATE Judicial_Excluidos 
            SET activo = 1, 
                fecha_carga = GETDATE(),
                archivo_origen = @ArchivoOrigen,
                usuario_carga = @UsuarioCarga
            WHERE periodo = @Periodo;
        END
        
        COMMIT TRANSACTION;
        
        SELECT 
            'EXITO' as resultado,
            'Carga judicial ' + @TipoHoja + ' completada para período: ' + CONVERT(VARCHAR(10), @Periodo, 103) as mensaje;
            
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        SELECT 
            'ERROR' as resultado,
            'Error en carga judicial: ' + ERROR_MESSAGE() as mensaje;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CargarJudicialBase]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CargarJudicialBase]
    @PeriodoProceso VARCHAR(6),
    @ArchivoOrigen VARCHAR(255),
    @UsuarioCarga VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RegistrosMovidosHistoricos INT = 0;
    DECLARE @RegistrosNuevos INT = 0;
    DECLARE @ExistenRegistrosActivos INT = 0;
    DECLARE @MotivoMovimiento VARCHAR(50);
    DECLARE @ErrorMsg VARCHAR(1000);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. VERIFICAR SI EXISTEN REGISTROS ACTIVOS PARA ESTE PERIODO
        SELECT @ExistenRegistrosActivos = COUNT(*) 
        FROM Judicial_Base 
        WHERE activo = 1 AND periodo = @PeriodoProceso;
        
        -- 2. DEFINIR MOTIVO DEL MOVIMIENTO
        IF @ExistenRegistrosActivos > 0
            SET @MotivoMovimiento = 'REEMPLAZO_CARGA_MES'  -- Segunda carga del mes
        ELSE
            SET @MotivoMovimiento = 'REEMPLAZO_CARGA_INICIAL'  -- Primera carga del mes
        
        -- 3. CONTAR REGISTROS ACTUALES ANTES DE MOVER (de cualquier periodo)
        SELECT @RegistrosMovidosHistoricos = COUNT(*) 
        FROM Judicial_Base 
        WHERE activo = 1;
        
        -- 4. Mover datos actuales a histórico SOLO si existen registros activos
        IF @RegistrosMovidosHistoricos > 0
        BEGIN
            INSERT INTO Judicial_Base_Historico (
                periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
                sucursal, region, comuna, zona, tribunal, rol, año, ciudad_tribunal,
                homologacion, motivo_de_estado, etapa_procesal, sub_etapa_procesal,
                fecha_sub_etapa_procesal, ultima_gestion, observaciones, abogado_externo,
                vigente_castigo, stock_flujo, aux, canal, nombre_cobrador, tramo_saldo,
                tramo_antiguedad_castigo, recovery, pago_vigente, tramo_probabilidad_de_pago,
                probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
                fecha_carga_original, archivo_origen, usuario_carga, motivo_movimiento,
                fecha_movimiento_historico
            )
            SELECT 
                periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
                sucursal, region, comuna, zona, tribunal, rol, año, ciudad_tribunal,
                homologacion, motivo_de_estado, etapa_procesal, sub_etapa_procesal,
                fecha_sub_etapa_procesal, ultima_gestion, observaciones, abogado_externo,
                vigente_castigo, stock_flujo, aux, canal, nombre_cobrador, tramo_saldo,
                tramo_antiguedad_castigo, recovery, pago_vigente, tramo_probabilidad_de_pago,
                probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
                fecha_carga, archivo_origen, usuario_carga, @MotivoMovimiento,
                GETDATE()
            FROM Judicial_Base
            WHERE activo = 1;
            
            -- 5. Desactivar registros actuales
            UPDATE Judicial_Base SET activo = 0;
        END
        
        -- 6. Insertar nuevos registros desde la tabla temporal
        INSERT INTO Judicial_Base (
            periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
            sucursal, region, comuna, zona, tribunal, rol, año, ciudad_tribunal,
            homologacion, motivo_de_estado, etapa_procesal, sub_etapa_procesal,
            fecha_sub_etapa_procesal, ultima_gestion, observaciones, abogado_externo,
            vigente_castigo, stock_flujo, aux, canal, nombre_cobrador, tramo_saldo,
            tramo_antiguedad_castigo, recovery, pago_vigente, tramo_probabilidad_de_pago,
            probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
            fecha_carga, archivo_origen, usuario_carga, activo
        )
        SELECT 
            periodo, juicio_id, contrato, rut, dv, nombre, fecha_asignacion, saldo, cuantia,
            sucursal, region, comuna, zona, tribunal, rol, año, ciudad_tribunal,
            homologacion, motivo_de_estado, etapa_procesal, sub_etapa_procesal,
            fecha_sub_etapa_procesal, ultima_gestion, observaciones, abogado_externo,
            vigente_castigo, stock_flujo, aux, canal, nombre_cobrador, tramo_saldo,
            tramo_antiguedad_castigo, recovery, pago_vigente, tramo_probabilidad_de_pago,
            probabilidad_de_pago, campana, ciudad, marca_piloto, tipo_contrato,
            GETDATE(), @ArchivoOrigen, @UsuarioCarga, 1
        FROM Carga_Temporal_JudicialBase;
        
        -- 7. Contar registros nuevos insertados
        SELECT @RegistrosNuevos = COUNT(*) 
        FROM Judicial_Base 
        WHERE activo = 1 AND periodo = @PeriodoProceso;
        
        -- 8. Limpiar tabla temporal
        TRUNCATE TABLE Carga_Temporal_JudicialBase;
        
        COMMIT TRANSACTION;
        
        -- 9. RETORNAR RESULTADOS
        SELECT 
            'EXITO' as resultado,
            'Carga judicial completada. ' + CAST(@RegistrosNuevos AS VARCHAR) + ' registros insertados. ' + 
            CASE WHEN @RegistrosMovidosHistoricos > 0 
                 THEN CAST(@RegistrosMovidosHistoricos AS VARCHAR) + ' registros movidos a histórico (' + @MotivoMovimiento + ').' 
                 ELSE 'Primera carga del período.' 
            END as mensaje,
            @RegistrosMovidosHistoricos as registros_movidos_historicos,
            @RegistrosNuevos as registros_nuevos,
            @MotivoMovimiento as motivo_movimiento;
            
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @ErrorMsg = 'Error en SP CargarJudicialBase: ' + ERROR_MESSAGE();
        
        -- Registrar error en logs
        INSERT INTO Logs_Errores_Carga (log_carga_id, contrato, rut, mensaje_error, datos_fila)
        VALUES (1, 'SP_ERROR', 'SP_ERROR', @ErrorMsg, 'Stored Procedure Error - Judicial Base');
        
        SELECT 
            'ERROR' as resultado,
            @ErrorMsg as mensaje,
            0 as registros_movidos_historicos,
            0 as registros_nuevos,
            'ERROR' as motivo_movimiento;
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_GenerarArchivo200]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure para generar el Archivo 200 CON FORMATO CORREGIDO
CREATE PROCEDURE [dbo].[sp_GenerarArchivo200]
    @FechaProcesamiento DATE = NULL,
    @Usuario VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Si no se especifica fecha, usar hoy
    IF @FechaProcesamiento IS NULL
        SET @FechaProcesamiento = CAST(GETDATE() AS DATE);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Limpiar tabla temporal
        TRUNCATE TABLE Archivo_200_Temporal;
        
        -- Insertar datos en temporal CON FORMATO EXACTO
        INSERT INTO Archivo_200_Temporal (
            campo_4, campo_5_29, campo_30_46, campo_47_49, 
            campo_50_51, campo_52_53, campo_54_55, campo_56_63, campo_64_119
        )
        SELECT 
            -- ESTO ES UN EJEMPLO - REEMPLAZAR CON TU LÓGICA DE NEGOCIO REAL
            '6' as campo_4, -- CARTERA CAR (3=BANCO, 6=CAR)
            '00010074000001052885' as campo_5_29, -- Número de caso (25 chars)
            -- Fecha en formato DDMMYYYY HH:MM:SS (17 chars)
            RIGHT('0' + CAST(DAY(@FechaProcesamiento) AS VARCHAR(2)), 2) +
            RIGHT('0' + CAST(MONTH(@FechaProcesamiento) AS VARCHAR(2)), 2) +
            CAST(YEAR(@FechaProcesamiento) AS VARCHAR(4)) + ' 10:00:00' as campo_30_46,
            1 as campo_47_49, -- Secuencia (001)
            '3N' as campo_50_51, -- Código acción
            '1' as campo_52_53, -- Código resultado
            '  ' as campo_54_55, -- Código carta (normalmente espacios)
            LEFT(ISNULL(@Usuario, 'exmabdis'), 8) as campo_56_63, -- Gestor (8 chars)
            '941745497 no contesta' as campo_64_119 -- Comentario (56 chars)
        
        -- Esto genera 5 registros de ejemplo - ELIMINAR en producción
        UNION ALL SELECT '6', '00010074000001052886', 
               RIGHT('0' + CAST(DAY(@FechaProcesamiento) AS VARCHAR(2)), 2) +
               RIGHT('0' + CAST(MONTH(@FechaProcesamiento) AS VARCHAR(2)), 2) +
               CAST(YEAR(@FechaProcesamiento) AS VARCHAR(4)) + ' 10:01:00', 
               1, '3N', '1', '  ', 'exmabdis', '934104850 no contesta'
        UNION ALL SELECT '6', '00010074000001052887', 
               RIGHT('0' + CAST(DAY(@FechaProcesamiento) AS VARCHAR(2)), 2) +
               RIGHT('0' + CAST(MONTH(@FechaProcesamiento) AS VARCHAR(2)), 2) +
               CAST(YEAR(@FechaProcesamiento) AS VARCHAR(4)) + ' 10:02:00', 
               1, '3N', '1', '  ', 'exmabdis', '985438396 no contesta';
        
        -- Mover de temporal a histórico
        INSERT INTO Archivo_200 (
            campo_4, campo_5_29, campo_30_46, campo_47_49,
            campo_50_51, campo_52_53, campo_54_55, campo_56_63, campo_64_119,
            fecha_procesamiento, usuario_creacion, estado
        )
        SELECT 
            campo_4, campo_5_29, campo_30_46, campo_47_49,
            campo_50_51, campo_52_53, campo_54_55, campo_56_63, campo_64_119,
            @FechaProcesamiento, @Usuario, 'PROCESADO'
        FROM Archivo_200_Temporal;
        
        -- Actualizar última ejecución
        UPDATE Config_Archivo200 
        SET valor = CONVERT(VARCHAR(10), @FechaProcesamiento, 120),
            fecha_actualizacion = GETDATE()
        WHERE parametro = 'ULTIMA_EJECUCION';
        
        COMMIT TRANSACTION;
        
        -- Retornar éxito
        SELECT 
            'EXITO' as resultado,
            'Archivo 200 generado correctamente para fecha: ' + CONVERT(VARCHAR(10), @FechaProcesamiento, 103) as mensaje,
            (SELECT COUNT(*) FROM Archivo_200_Temporal) as registros_generados;
            
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        -- Retornar error
        SELECT 
            'ERROR' as resultado,
            'Error al generar Archivo 200: ' + ERROR_MESSAGE() as mensaje,
            0 as registros_generados;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerEstadisticasArchivo200]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener estadísticas
CREATE PROCEDURE [dbo].[sp_ObtenerEstadisticasArchivo200]
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL
AS
BEGIN
    IF @FechaDesde IS NULL
        SET @FechaDesde = DATEADD(DAY, -30, GETDATE());
    
    IF @FechaHasta IS NULL  
        SET @FechaHasta = GETDATE();
    
    SELECT 
        COUNT(*) as total_registros,
        COUNT(DISTINCT campo_5_29) as casos_unicos,
        MIN(fecha_procesamiento) as fecha_minima,
        MAX(fecha_procesamiento) as fecha_maxima,
        estado,
        COUNT(*) as por_estado
    FROM Archivo_200 
    WHERE fecha_procesamiento BETWEEN @FechaDesde AND @FechaHasta
    GROUP BY estado;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarAsignacionStock_ELIMINAR]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure para Asignacion Stock
CREATE PROCEDURE [dbo].[sp_ProcesarAsignacionStock_ELIMINAR]
    @RUT VARCHAR(20),
    @Nombre VARCHAR(200),
    @Producto VARCHAR(100),
    @Stock INT,
    @FechaAsignacion DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Aquí tu lógica de negocio para asignación stock
        -- Por ejemplo, insertar o actualizar en tabla Deudores_Stock
        IF EXISTS (SELECT 1 FROM Deudores_Stock WHERE RUT = @RUT AND Producto = @Producto)
        BEGIN
            UPDATE Deudores_Stock 
            SET Stock = @Stock, 
                FechaActualizacion = GETDATE(),
                FechaAsignacion = @FechaAsignacion
            WHERE RUT = @RUT AND Producto = @Producto;
        END
        ELSE
        BEGIN
            INSERT INTO Deudores_Stock (RUT, Nombre, Producto, Stock, FechaAsignacion, FechaActualizacion)
            VALUES (@RUT, @Nombre, @Producto, @Stock, @FechaAsignacion, GETDATE());
        END
        
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarJudicialExcluido]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure para Judicial Excluidos
CREATE PROCEDURE [dbo].[sp_ProcesarJudicialExcluido]
    @RUT VARCHAR(20),
    @MotivoExclusion VARCHAR(200),
    @FechaExclusion DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Marcar como excluido en judicial
    -- Actualizar tabla Judicial_Base
    PRINT 'Marcando como excluido RUT: ' + @RUT;
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_LimpiarTextoArchivo200]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para limpiar texto (eliminar tildes y ñ)
CREATE FUNCTION [dbo].[fn_LimpiarTextoArchivo200](@texto VARCHAR(56))
RETURNS VARCHAR(56)
AS
BEGIN
    DECLARE @texto_limpio VARCHAR(56);
    
    -- Reemplazar caracteres especiales
    SET @texto_limpio = REPLACE(@texto, 'á', 'a');
    SET @texto_limpio = REPLACE(@texto_limpio, 'é', 'e');
    SET @texto_limpio = REPLACE(@texto_limpio, 'í', 'i');
    SET @texto_limpio = REPLACE(@texto_limpio, 'ó', 'o');
    SET @texto_limpio = REPLACE(@texto_limpio, 'ú', 'u');
    SET @texto_limpio = REPLACE(@texto_limpio, 'Á', 'A');
    SET @texto_limpio = REPLACE(@texto_limpio, 'É', 'E');
    SET @texto_limpio = REPLACE(@texto_limpio, 'Í', 'I');
    SET @texto_limpio = REPLACE(@texto_limpio, 'Ó', 'O');
    SET @texto_limpio = REPLACE(@texto_limpio, 'Ú', 'U');
    SET @texto_limpio = REPLACE(@texto_limpio, 'ñ', 'n');
    SET @texto_limpio = REPLACE(@texto_limpio, 'Ñ', 'N');
    
    -- Eliminar cualquier otro carácter especial (mantener solo alfanuméricos, espacios y algunos símbolos)
    SET @texto_limpio = REPLACE(@texto_limpio, '¿', '');
    SET @texto_limpio = REPLACE(@texto_limpio, '¡', '');
    SET @texto_limpio = REPLACE(@texto_limpio, '?', '');
    SET @texto_limpio = REPLACE(@texto_limpio, '!', '');
    
    -- Limitar a 56 caracteres
    IF LEN(@texto_limpio) > 56
        SET @texto_limpio = LEFT(@texto_limpio, 56);
    
    RETURN @texto_limpio;
END;

GO
/****** Object:  Table [dbo].[Archivo_200]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Archivo_200](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[campo_1_3] [varchar](3) NOT NULL,
	[campo_4] [varchar](1) NOT NULL,
	[campo_5_29] [varchar](25) NOT NULL,
	[campo_30_46] [varchar](17) NOT NULL,
	[campo_47_49] [numeric](3, 0) NOT NULL,
	[campo_50_51] [varchar](2) NOT NULL,
	[campo_52_53] [varchar](2) NOT NULL,
	[campo_54_55] [varchar](2) NOT NULL,
	[campo_56_63] [varchar](8) NOT NULL,
	[campo_64_119] [varchar](56) NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_procesamiento] [date] NULL,
	[estado] [varchar](20) NULL,
	[usuario_creacion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Archivo_200_Temporal]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Archivo_200_Temporal](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[campo_1_3] [varchar](3) NOT NULL,
	[campo_4] [varchar](1) NOT NULL,
	[campo_5_29] [varchar](25) NOT NULL,
	[campo_30_46] [varchar](17) NOT NULL,
	[campo_47_49] [numeric](3, 0) NOT NULL,
	[campo_50_51] [varchar](2) NOT NULL,
	[campo_52_53] [varchar](2) NOT NULL,
	[campo_54_55] [varchar](2) NOT NULL,
	[campo_56_63] [varchar](8) NOT NULL,
	[campo_64_119] [varchar](56) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Asignacion_Stock]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Asignacion_Stock](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodo_proceso] [varchar](6) NOT NULL,
	[fecha_proceso] [date] NOT NULL,
	[periodo_castigo] [varchar](6) NOT NULL,
	[rut] [varchar](12) NOT NULL,
	[dv] [varchar](1) NOT NULL,
	[contrato] [varchar](25) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[paterno] [varchar](50) NOT NULL,
	[materno] [varchar](50) NULL,
	[fecha_castigo] [date] NOT NULL,
	[saldo_generado] [decimal](15, 2) NOT NULL,
	[clasificacion_bienes] [varchar](50) NOT NULL,
	[canal] [varchar](50) NOT NULL,
	[clasificacion] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[numeracion_dir] [varchar](20) NULL,
	[resto] [varchar](100) NULL,
	[region] [varchar](50) NULL,
	[comuna] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[abogado] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[correo1] [varchar](100) NULL,
	[correo2] [varchar](100) NULL,
	[correo3] [varchar](100) NULL,
	[correo4] [varchar](100) NULL,
	[correo5] [varchar](100) NULL,
	[telefono1] [varchar](20) NULL,
	[telefono2] [varchar](20) NULL,
	[telefono3] [varchar](20) NULL,
	[telefono4] [varchar](20) NULL,
	[telefono5] [varchar](20) NULL,
	[fecha_pago] [date] NULL,
	[monto_pago] [decimal](15, 2) NULL,
	[fecha_vencimiento] [date] NULL,
	[dias_mora] [int] NULL,
	[fecha_susc] [date] NULL,
	[tipo_campana] [varchar](50) NULL,
	[descuento] [decimal](5, 2) NULL,
	[monto_a_pagar] [decimal](15, 2) NULL,
	[saldo_en_campana] [decimal](15, 2) NULL,
	[fecha_asignacion] [date] NULL,
	[tipo_cartera] [varchar](50) NULL,
	[fecha_carga] [datetime] NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK__Asignaci__3213E83F23413B5A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Asignacion_Stock_Historico]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Asignacion_Stock_Historico](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodo_proceso] [varchar](6) NOT NULL,
	[fecha_proceso] [date] NOT NULL,
	[periodo_castigo] [varchar](6) NOT NULL,
	[rut] [varchar](12) NOT NULL,
	[dv] [varchar](1) NOT NULL,
	[contrato] [varchar](25) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[paterno] [varchar](50) NOT NULL,
	[materno] [varchar](50) NULL,
	[fecha_castigo] [date] NOT NULL,
	[saldo_generado] [decimal](15, 2) NOT NULL,
	[clasificacion_bienes] [varchar](50) NOT NULL,
	[canal] [varchar](50) NOT NULL,
	[clasificacion] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[numeracion_dir] [varchar](20) NULL,
	[resto] [varchar](100) NULL,
	[region] [varchar](50) NULL,
	[comuna] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[abogado] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[correo1] [varchar](100) NULL,
	[correo2] [varchar](100) NULL,
	[correo3] [varchar](100) NULL,
	[correo4] [varchar](100) NULL,
	[correo5] [varchar](100) NULL,
	[telefono1] [varchar](20) NULL,
	[telefono2] [varchar](20) NULL,
	[telefono3] [varchar](20) NULL,
	[telefono4] [varchar](20) NULL,
	[telefono5] [varchar](20) NULL,
	[fecha_pago] [date] NULL,
	[monto_pago] [decimal](15, 2) NULL,
	[fecha_vencimiento] [date] NULL,
	[dias_mora] [int] NULL,
	[fecha_susc] [date] NULL,
	[tipo_campana] [varchar](50) NULL,
	[descuento] [decimal](5, 2) NULL,
	[monto_a_pagar] [decimal](15, 2) NULL,
	[saldo_en_campana] [decimal](15, 2) NULL,
	[fecha_asignacion] [date] NULL,
	[tipo_cartera] [varchar](50) NULL,
	[fecha_carga_original] [datetime] NOT NULL,
	[fecha_movimiento_historico] [datetime] NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
	[motivo_movimiento] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Asignaci__3213E83F7A0B9EBD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Carga_Temporal_AsignacionStock]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carga_Temporal_AsignacionStock](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodo_proceso] [varchar](6) NOT NULL,
	[fecha_proceso] [date] NOT NULL,
	[periodo_castigo] [varchar](6) NOT NULL,
	[rut] [varchar](12) NOT NULL,
	[dv] [varchar](1) NOT NULL,
	[contrato] [varchar](25) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[paterno] [varchar](50) NOT NULL,
	[materno] [varchar](50) NOT NULL,
	[fecha_castigo] [date] NOT NULL,
	[saldo_generado] [decimal](15, 2) NOT NULL,
	[clasificacion_bienes] [varchar](50) NOT NULL,
	[canal] [varchar](50) NOT NULL,
	[clasificacion] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[numeracion_dir] [varchar](20) NULL,
	[resto] [varchar](100) NULL,
	[region] [varchar](50) NULL,
	[comuna] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[abogado] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[correo1] [varchar](100) NULL,
	[correo2] [varchar](100) NULL,
	[correo3] [varchar](100) NULL,
	[correo4] [varchar](100) NULL,
	[correo5] [varchar](100) NULL,
	[telefono1] [varchar](20) NULL,
	[telefono2] [varchar](20) NULL,
	[telefono3] [varchar](20) NULL,
	[telefono4] [varchar](20) NULL,
	[telefono5] [varchar](20) NULL,
	[fecha_pago] [date] NULL,
	[monto_pago] [decimal](15, 2) NULL,
	[fecha_vencimiento] [date] NULL,
	[dias_mora] [int] NULL,
	[fecha_susc] [date] NULL,
	[tipo_campana] [varchar](50) NULL,
	[descuento] [decimal](5, 2) NULL,
	[monto_a_pagar] [decimal](15, 2) NULL,
	[saldo_en_campana] [decimal](15, 2) NULL,
	[fecha_asignacion] [date] NULL,
	[tipo_cartera] [varchar](50) NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
	[fecha_carga] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Carga_Temporal_JudicialBase]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carga_Temporal_JudicialBase](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](6) NULL,
	[juicio_id] [varchar](50) NULL,
	[contrato] [varchar](50) NULL,
	[rut] [varchar](20) NULL,
	[dv] [varchar](1) NULL,
	[nombre] [varchar](200) NULL,
	[fecha_asignacion] [date] NULL,
	[saldo] [decimal](18, 2) NULL,
	[cuantia] [decimal](18, 2) NULL,
	[sucursal] [varchar](100) NULL,
	[region] [varchar](100) NULL,
	[comuna] [varchar](100) NULL,
	[zona] [varchar](100) NULL,
	[tribunal] [varchar](200) NULL,
	[rol] [varchar](100) NULL,
	[año] [int] NULL,
	[ciudad_tribunal] [varchar](100) NULL,
	[homologacion] [varchar](100) NULL,
	[motivo_de_estado] [varchar](200) NULL,
	[etapa_procesal] [varchar](200) NULL,
	[sub_etapa_procesal] [varchar](200) NULL,
	[fecha_sub_etapa_procesal] [date] NULL,
	[ultima_gestion] [varchar](200) NULL,
	[observaciones] [varchar](500) NULL,
	[abogado_externo] [varchar](200) NULL,
	[vigente_castigo] [varchar](100) NULL,
	[stock_flujo] [varchar](100) NULL,
	[aux] [varchar](100) NULL,
	[canal] [varchar](100) NULL,
	[nombre_cobrador] [varchar](200) NULL,
	[tramo_saldo] [varchar](100) NULL,
	[tramo_antiguedad_castigo] [varchar](100) NULL,
	[recovery] [decimal](18, 2) NULL,
	[pago_vigente] [decimal](18, 2) NULL,
	[tramo_probabilidad_de_pago] [varchar](100) NULL,
	[probabilidad_de_pago] [decimal](5, 2) NULL,
	[campana] [varchar](100) NULL,
	[ciudad] [varchar](100) NULL,
	[marca_piloto] [varchar](100) NULL,
	[tipo_contrato] [varchar](100) NULL,
	[fecha_carga] [datetime] NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
 CONSTRAINT [PK__Carga_Te__3213E83F9BB0C814] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Config_Archivo200]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Config_Archivo200](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parametro] [varchar](50) NOT NULL,
	[valor] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Control_Cargas_Mensuales]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Control_Cargas_Mensuales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_archivo] [varchar](50) NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[fecha_carga] [datetime] NOT NULL,
	[usuario_carga] [varchar](50) NOT NULL,
	[registros_procesados] [int] NOT NULL,
	[archivo_origen] [varchar](255) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Judicial_Base]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Judicial_Base](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](6) NULL,
	[juicio_id] [varchar](50) NULL,
	[contrato] [varchar](25) NOT NULL,
	[rut] [varchar](12) NOT NULL,
	[dv] [varchar](1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[fecha_asignacion] [date] NOT NULL,
	[saldo] [decimal](15, 2) NULL,
	[cuantia] [decimal](15, 2) NULL,
	[sucursal] [varchar](50) NULL,
	[region] [varchar](50) NULL,
	[comuna] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[tribunal] [varchar](100) NULL,
	[rol] [varchar](50) NULL,
	[año] [int] NULL,
	[ciudad_tribunal] [varchar](50) NULL,
	[homologacion] [varchar](50) NULL,
	[motivo_de_estado] [varchar](100) NULL,
	[etapa_procesal] [varchar](100) NULL,
	[sub_etapa_procesal] [varchar](100) NULL,
	[fecha_sub_etapa_procesal] [datetime] NULL,
	[ultima_gestion] [varchar](100) NULL,
	[observaciones] [varchar](500) NULL,
	[abogado_externo] [varchar](100) NULL,
	[vigente_castigo] [varchar](50) NULL,
	[stock_flujo] [varchar](50) NULL,
	[aux] [varchar](10) NULL,
	[canal] [varchar](50) NULL,
	[nombre_cobrador] [varchar](100) NULL,
	[tramo_saldo] [varchar](50) NULL,
	[tramo_antiguedad_castigo] [varchar](50) NULL,
	[recovery] [decimal](15, 2) NULL,
	[pago_vigente] [decimal](15, 2) NULL,
	[tramo_probabilidad_de_pago] [varchar](50) NULL,
	[probabilidad_de_pago] [varchar](50) NULL,
	[campana] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[marca_piloto] [varchar](50) NULL,
	[tipo_contrato] [varchar](50) NULL,
	[fecha_carga] [datetime] NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK__Judicial__3213E83FEA140136] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Judicial_Base_Historico]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Judicial_Base_Historico](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](50) NOT NULL,
	[juicio_id] [varchar](50) NULL,
	[contrato] [varchar](25) NOT NULL,
	[rut] [varchar](12) NOT NULL,
	[dv] [varchar](1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[fecha_asignacion] [date] NOT NULL,
	[saldo] [decimal](15, 2) NULL,
	[cuantia] [decimal](15, 2) NULL,
	[sucursal] [varchar](50) NULL,
	[region] [varchar](50) NULL,
	[comuna] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[tribunal] [varchar](100) NULL,
	[rol] [varchar](50) NULL,
	[año] [int] NULL,
	[ciudad_tribunal] [varchar](50) NULL,
	[homologacion] [varchar](50) NULL,
	[motivo_de_estado] [varchar](100) NULL,
	[etapa_procesal] [varchar](100) NULL,
	[sub_etapa_procesal] [varchar](100) NULL,
	[fecha_sub_etapa_procesal] [datetime] NULL,
	[ultima_gestion] [varchar](100) NULL,
	[observaciones] [varchar](500) NULL,
	[abogado_externo] [varchar](100) NULL,
	[vigente_castigo] [varchar](50) NULL,
	[stock_flujo] [varchar](50) NULL,
	[aux] [varchar](10) NULL,
	[canal] [varchar](50) NULL,
	[nombre_cobrador] [varchar](100) NULL,
	[tramo_saldo] [varchar](50) NULL,
	[tramo_antiguedad_castigo] [varchar](50) NULL,
	[recovery] [decimal](15, 2) NULL,
	[pago_vigente] [decimal](15, 2) NULL,
	[tramo_probabilidad_de_pago] [varchar](50) NULL,
	[probabilidad_de_pago] [varchar](50) NULL,
	[campana] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[marca_piloto] [varchar](50) NULL,
	[tipo_contrato] [varchar](50) NULL,
	[fecha_carga_original] [datetime] NOT NULL,
	[fecha_movimiento_historico] [datetime] NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
	[motivo_movimiento] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Judicial__3213E83FE0874176] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Judicial_Excluidos]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Judicial_Excluidos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodo] [date] NOT NULL,
	[juicio_id] [varchar](20) NOT NULL,
	[contrato] [varchar](25) NOT NULL,
	[rut] [varchar](12) NOT NULL,
	[dv] [varchar](1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[fecha_asignacion] [date] NOT NULL,
	[saldo] [decimal](15, 2) NOT NULL,
	[cuantia] [decimal](15, 2) NOT NULL,
	[sucursal] [varchar](50) NULL,
	[region] [varchar](50) NULL,
	[comuna] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[tribunal] [varchar](100) NULL,
	[rol] [varchar](50) NULL,
	[anio] [int] NULL,
	[ciudad_tribunal] [varchar](50) NULL,
	[homologacion] [varchar](50) NULL,
	[motivo_de_estado] [varchar](100) NULL,
	[etapa_procesal] [varchar](100) NULL,
	[sub_etapa_procesal] [varchar](100) NULL,
	[fecha_sub_etapa_procesal] [datetime] NULL,
	[ultima_gestion] [varchar](100) NULL,
	[observaciones] [varchar](500) NULL,
	[abogado_externo] [varchar](100) NULL,
	[vigente_castigo] [varchar](50) NULL,
	[stock_flujo] [varchar](50) NULL,
	[aux] [varchar](10) NULL,
	[canal] [varchar](50) NULL,
	[nombre_cobrador] [varchar](100) NULL,
	[tramo_saldo] [varchar](50) NULL,
	[tramo_antiguedad_castigo] [varchar](50) NULL,
	[recovery] [decimal](15, 2) NULL,
	[pago_vigente] [decimal](15, 2) NULL,
	[tramo_probabilidad_de_pago] [varchar](50) NULL,
	[probabilidad_de_pago] [varchar](50) NULL,
	[campana] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[marca_piloto] [varchar](50) NULL,
	[tipo_contrato] [varchar](50) NULL,
	[fecha_carga] [datetime] NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Judicial_Excluidos_Historico]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Judicial_Excluidos_Historico](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodo] [date] NOT NULL,
	[juicio_id] [varchar](20) NOT NULL,
	[contrato] [varchar](25) NOT NULL,
	[rut] [varchar](12) NOT NULL,
	[dv] [varchar](1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[fecha_asignacion] [date] NOT NULL,
	[saldo] [decimal](15, 2) NOT NULL,
	[cuantia] [decimal](15, 2) NOT NULL,
	[sucursal] [varchar](50) NULL,
	[region] [varchar](50) NULL,
	[comuna] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[tribunal] [varchar](100) NULL,
	[rol] [varchar](50) NULL,
	[anio] [int] NULL,
	[ciudad_tribunal] [varchar](50) NULL,
	[homologacion] [varchar](50) NULL,
	[motivo_de_estado] [varchar](100) NULL,
	[etapa_procesal] [varchar](100) NULL,
	[sub_etapa_procesal] [varchar](100) NULL,
	[fecha_sub_etapa_procesal] [datetime] NULL,
	[ultima_gestion] [varchar](100) NULL,
	[observaciones] [varchar](500) NULL,
	[abogado_externo] [varchar](100) NULL,
	[vigente_castigo] [varchar](50) NULL,
	[stock_flujo] [varchar](50) NULL,
	[aux] [varchar](10) NULL,
	[canal] [varchar](50) NULL,
	[nombre_cobrador] [varchar](100) NULL,
	[tramo_saldo] [varchar](50) NULL,
	[tramo_antiguedad_castigo] [varchar](50) NULL,
	[recovery] [decimal](15, 2) NULL,
	[pago_vigente] [decimal](15, 2) NULL,
	[tramo_probabilidad_de_pago] [varchar](50) NULL,
	[probabilidad_de_pago] [varchar](50) NULL,
	[campana] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[marca_piloto] [varchar](50) NULL,
	[tipo_contrato] [varchar](50) NULL,
	[fecha_carga_original] [datetime] NOT NULL,
	[fecha_movimiento_historico] [datetime] NULL,
	[archivo_origen] [varchar](255) NULL,
	[usuario_carga] [varchar](50) NULL,
	[motivo_movimiento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs_acceso]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs_acceso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NULL,
	[fecha_acceso] [datetime] NULL,
	[ip_address] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs_Carga_Excel]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logs_Carga_Excel](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tipo_archivo] [varchar](50) NOT NULL,
	[nombre_archivo] [varchar](255) NOT NULL,
	[nombre_original] [varchar](255) NOT NULL,
	[usuario_carga] [varchar](50) NOT NULL,
	[fecha_carga] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[registros_procesados] [int] NULL,
	[error_mensaje] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logs_Errores_Carga]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logs_Errores_Carga](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[log_carga_id] [bigint] NOT NULL,
	[contrato] [varchar](25) NULL,
	[rut] [varchar](12) NULL,
	[mensaje_error] [varchar](500) NOT NULL,
	[datos_fila] [text] NULL,
	[fecha_error] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[nombre_completo] [nvarchar](100) NOT NULL,
	[perfil] [nvarchar](20) NOT NULL,
	[activo] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vw_Archivo200_Formateado]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para ver datos formateados listos para exportar
CREATE VIEW [dbo].[vw_Archivo200_Formateado] AS
SELECT 
    campo_1_3,
    campo_4,
    campo_5_29,
    campo_30_46,
    RIGHT('000' + CAST(campo_47_49 AS VARCHAR(3)), 3) as campo_47_49,
    campo_50_51,
    campo_52_53,
    campo_54_55,
    campo_56_63,
    campo_64_119,
    fecha_procesamiento,
    estado
FROM Archivo_200;

GO
/****** Object:  View [dbo].[vw_AsignacionStock_Actual]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para consultar asignación activa actual
CREATE VIEW [dbo].[vw_AsignacionStock_Actual] AS
SELECT * FROM Asignacion_Stock WHERE activo = 1;

GO
/****** Object:  View [dbo].[vw_JudicialBase_Actual]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para consultar judicial base activa actual
CREATE VIEW [dbo].[vw_JudicialBase_Actual] AS
SELECT * FROM Judicial_Base WHERE activo = 1;

GO
/****** Object:  View [dbo].[vw_JudicialExcluidos_Actual]    Script Date: 04-11-2025 22:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para consultar judicial excluidos activa actual
CREATE VIEW [dbo].[vw_JudicialExcluidos_Actual] AS
SELECT * FROM Judicial_Excluidos WHERE activo = 1;

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Archivo200_Caso]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_Archivo200_Caso] ON [dbo].[Archivo_200]
(
	[campo_5_29] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Archivo200_Estado]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_Archivo200_Estado] ON [dbo].[Archivo_200]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Archivo200_Fecha]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_Archivo200_Fecha] ON [dbo].[Archivo_200]
(
	[campo_30_46] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Archivo200_Procesamiento]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_Archivo200_Procesamiento] ON [dbo].[Archivo_200]
(
	[fecha_procesamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AsignacionStock_Activo]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_AsignacionStock_Activo] ON [dbo].[Asignacion_Stock]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AsignacionStock_Contrato]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_AsignacionStock_Contrato] ON [dbo].[Asignacion_Stock]
(
	[contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AsignacionStock_Periodo]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_AsignacionStock_Periodo] ON [dbo].[Asignacion_Stock]
(
	[periodo_proceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AsignacionStock_Rut]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_AsignacionStock_Rut] ON [dbo].[Asignacion_Stock]
(
	[rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Control_Cargas_Periodo]    Script Date: 04-11-2025 22:06:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Control_Cargas_Periodo] ON [dbo].[Control_Cargas_Mensuales]
(
	[tipo_archivo] ASC,
	[periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JudicialBase_Activo]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialBase_Activo] ON [dbo].[Judicial_Base]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_JudicialBase_Contrato]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialBase_Contrato] ON [dbo].[Judicial_Base]
(
	[contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_JudicialBase_JuicioId]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialBase_JuicioId] ON [dbo].[Judicial_Base]
(
	[juicio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_JudicialBase_Periodo]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialBase_Periodo] ON [dbo].[Judicial_Base]
(
	[periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JudicialExcluidos_Activo]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialExcluidos_Activo] ON [dbo].[Judicial_Excluidos]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_JudicialExcluidos_Contrato]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialExcluidos_Contrato] ON [dbo].[Judicial_Excluidos]
(
	[contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_JudicialExcluidos_JuicioId]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialExcluidos_JuicioId] ON [dbo].[Judicial_Excluidos]
(
	[juicio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JudicialExcluidos_Periodo]    Script Date: 04-11-2025 22:06:32 ******/
CREATE NONCLUSTERED INDEX [IX_JudicialExcluidos_Periodo] ON [dbo].[Judicial_Excluidos]
(
	[periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Archivo_200] ADD  DEFAULT ('200') FOR [campo_1_3]
GO
ALTER TABLE [dbo].[Archivo_200] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Archivo_200] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[Archivo_200_Temporal] ADD  DEFAULT ('200') FOR [campo_1_3]
GO
ALTER TABLE [dbo].[Archivo_200_Temporal] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Asignacion_Stock] ADD  CONSTRAINT [DF__Asignacio__fecha__71D1E811]  DEFAULT (getdate()) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[Asignacion_Stock] ADD  CONSTRAINT [DF__Asignacio__activ__72C60C4A]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Asignacion_Stock_Historico] ADD  CONSTRAINT [DF__Asignacio__fecha__75A278F5]  DEFAULT (getdate()) FOR [fecha_movimiento_historico]
GO
ALTER TABLE [dbo].[Carga_Temporal_AsignacionStock] ADD  DEFAULT (getdate()) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[Config_Archivo200] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[Control_Cargas_Mensuales] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Judicial_Base] ADD  CONSTRAINT [DF__Judicial___fecha__787EE5A0]  DEFAULT (getdate()) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[Judicial_Base] ADD  CONSTRAINT [DF__Judicial___activ__797309D9]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Judicial_Base_Historico] ADD  CONSTRAINT [DF__Judicial___fecha__00200768]  DEFAULT (getdate()) FOR [fecha_movimiento_historico]
GO
ALTER TABLE [dbo].[Judicial_Excluidos] ADD  DEFAULT (getdate()) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[Judicial_Excluidos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Judicial_Excluidos_Historico] ADD  DEFAULT (getdate()) FOR [fecha_movimiento_historico]
GO
ALTER TABLE [dbo].[logs_acceso] ADD  DEFAULT (getdate()) FOR [fecha_acceso]
GO
ALTER TABLE [dbo].[Logs_Carga_Excel] ADD  DEFAULT (getdate()) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[Logs_Carga_Excel] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[Logs_Errores_Carga] ADD  DEFAULT (getdate()) FOR [fecha_error]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[logs_acceso]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([perfil]='ejecutivo' OR [perfil]='administrador'))
GO
USE [master]
GO
